<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:cxf="http://cxf.apache.org/core" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                           http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
                           http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
                           http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-jaxws.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />


	<bean id="serviceFactory" class="org.apache.cxf.jaxws.support.JaxWsServiceFactoryBean"
		scope="prototype">
		<property name="serviceConfigurations">
			<list>
				<bean class="org.apache.cxf.jaxws.support.JaxWsServiceConfiguration" />
				<bean
					class="org.apache.cxf.aegis.databinding.XFireCompatibilityServiceConfiguration" />
				<bean class="org.apache.cxf.service.factory.DefaultServiceConfiguration" />
			</list>
		</property>
	</bean>

	<bean id="commonInterface-Authentication"
		class="wsht.infrastructure.webservice.commons.AuthenticatorWebServiceImpl">
		<property name="sessionInfo" ref="sessionInfo"></property>
		<property name="usersMap" ref="currentUsersMap" />
		<aop:scoped-proxy />
	</bean>

	<bean id="commonInterface-Coordinator"
		class="wsht.infrastructure.webservice.coordinator.CoordinationServiceWebServiceImpl">
		<property name="sessionInfo" ref="sessionInfo"></property>
		<property name="usersMap" ref="currentUsersMap" />
		<aop:scoped-proxy />
	</bean>

	<bean id="progmamingInterface-TaskOperations"
		class="wsht.infrastructure.webservice.programminginterface.TaskOperationsImpl">
	</bean>

	<bean id="ïnteroperableProtocol-HumanTaskParticipantPortType"
		class="wsht.infrastructure.webservice.interoperableprotocol.HumanTaskParticipantPortTypeImpl">
	</bean>

	<bean id="leanTask-LeanTaskOperations"
		class="wsht.infrastructure.webservice.leantask.LeanTaskOperationsImpl">
	</bean>


	<jaxws:endpoint implementor="#commonInterface-Authentication"
		address="${endpoint.common.part}${endpoint.authentication}">
		<jaxws:serviceFactory>
			<ref bean="serviceFactory" />
		</jaxws:serviceFactory>
	</jaxws:endpoint>

	<jaxws:endpoint implementor="#commonInterface-Coordinator"
		address="${endpoint.common.part}${endpoint.coordinator}">
		<jaxws:serviceFactory>
			<ref bean="serviceFactory" />
		</jaxws:serviceFactory>
	</jaxws:endpoint>



	<jaxws:endpoint implementor="#progmamingInterface-TaskOperations"
		address="${endpoint.common.part}${endpoint.taskoperations}" bus="cxf">
		<jaxws:serviceFactory>
			<ref bean="serviceFactory" />
		</jaxws:serviceFactory>
		<!-- jaxws:handlers> <bean class="wsht.infrastructure.webservice.handlers.CoordinatorMessageHandler" 
			/> </jaxws:handlers -->
		<jaxws:properties>
			<entry key="mtom-enabled" value="true" />
			<entry key="jaxb.additionalContextClasses">
				<ref bean="externalContextObjects" />
			</entry>
		</jaxws:properties>
	</jaxws:endpoint>


	<jaxws:endpoint implementor="#leanTask-LeanTaskOperations"
		address="${endpoint.common.part}${endpoint.leantaskoperations}" bus="cxf">
		<jaxws:serviceFactory>
			<ref bean="serviceFactory" />
		</jaxws:serviceFactory>
		<jaxws:properties>
			<entry key="mtom-enabled" value="true" />
			<entry key="jaxb.additionalContextClasses">
				<ref bean="externalContextObjects" />
			</entry>
		</jaxws:properties>
	</jaxws:endpoint>

	<jaxws:endpoint implementor="#ïnteroperableProtocol-HumanTaskParticipantPortType"
		address="${endpoint.common.part}${endpoint.humantaskparticipant}" bus="cxf">
		<jaxws:serviceFactory>
			<ref bean="serviceFactory" />
		</jaxws:serviceFactory>
	</jaxws:endpoint>


</beans>