<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                           http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-lazy-init="true" default-autowire="byName">

	<import resource="spring-datasource.xml" />

	<bean id="wshtScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cronSupervisorTrigger" />
			</list>
		</property>
		<property name="configLocation" value="classpath:config/quartz.properties" />
		<property name="dataSource" ref="dataSource" />
		<property name="applicationContextSchedulerContextKey" value="applicationContext" />
	</bean>

	<bean id="cronSupervisorTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="supervisorJob" />
		<property name="cronExpression" value="0 0 6 * * ?" />
	</bean>

	<bean name="supervisorJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="wsht.runtime.scheduler.jobs.SupervisorJob" />
		<property name="jobDataAsMap">
			<map>
				<!--entry key="configurationConfigFactory" value-ref="configurationConfigFactory" /-->
			</map>
		</property>
	</bean>
  


</beans>